@{
    ViewBag.Title = "Skapa ny person";
}
<table><tr><td height="10px"></td></tr></table>

<table cellpadding="4" cellspacing="4" width="70%" align="center" style="background-color: skyblue;
border:solid 2px red; padding-top:20px;">
    <tr>
        <td colspan="3" style="background-color:gray; font-size:18pt;
font-weight:bold; height:30px; text-align:center;">
            Skapa ny person
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">Email</td>
        <td><input type="text" ng-model="email" />  </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <input type="button" value="Spara" data-ng-click="save()" />
        </td>
    </tr>

</table> 
