@{
    ViewBag.Title = "Ta bort person";
}

<table><tr><td height="10px"></td></tr></table>

<table cellpadding="4" cellspacing="4" width="70%" align="center" style="background-color: skyblue; border:solid 2px red; padding-top:20px;">
    <tr><td colspan="3" style="background-color:gray; font-size:18pt; font-weight:bold; height:30px; text-align:center;">Ta bort person</td></tr>
    <tr>

        <td style="text-align:right;">Person key:</td>
        <td>{{Person.person_key}}  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Email: </td>
        <td>{{Person.email}}  </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Ta bort" ng-click="delete()" />
        </td>
    </tr>

</table> 
